body{
    background-color: rgb(5,173,173);
    font-family: 'Oswald', sans-serif;
    height:100%; 
    width:100%;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100vw;
    height: 100vh;
}

.opções{
    background-color: white;
    height: 50px;
    width: 100%;
    padding: 10px;
    margin-bottom: 100px ;
}

.opções img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    box-shadow: black;
    float: left;
    padding-left: 120px;
}

.opções ul li{
    display: inline-block;
    float: right;
    list-style: none;
    padding-right: 250px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    text-decoration: none;
}

.opções ul li a:hover{
      color:rgb(5,173,173); 
}

.opções ul li a{
    text-decoration: none;
    color: rgb(72,78,83);   
}

.rodape img{
    width: 15px;
    height: 15px;
}

.rodape{
    background-color: white;
    height: 50px;
    width: 100%;
    padding: 10px;
    padding-top: 10px;
    margin-top: 200px;
    display: inline-block;
    text-align: center;
}

.apresentação{
    font-size: 25px;
    text-align: justify;
}

.apresentação img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 50px;
    margin-left: 50px;
    box-shadow: 60px;
    display: inline-block;
   
}

